* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'FuturaPT', Arial, Helvetica, sans-serif;
    font-weight: 300;
    line-height: 1.2;
    background: #0e0e0e;
}

.main {
    /* max-width: 1280px; */
    margin: 0 auto;
}

.wrapper {
    padding: 0 144px;
    max-width: 1280px;
    margin: 0 auto;
}


.bold {
    font-weight: 600;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 12px 0;
    color: #fff;
}

.text {
    font-size: 18px;
    font-weight: 300;
    font-family: "FuturaPT", Arial, Helvetica, sans-serif;
    color: #fff;
}



.orange-title {
    font-family: "Interstate", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    color: transparent;
    text-shadow: 0 0 2px #ae663a;
    margin: 0 0 12px 0;
}

@supports (-webkit-text-stroke: .002em #ae663a) {
    .orange-title {
        -webkit-text-stroke: .002em #ae663a;
        text-shadow: none;
    }
}


@media screen and (max-width: 1279px) {
    .wrapper { 
        padding: 0 80px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper { 
        padding: 0 32px;
    }
}


@media screen and (max-width: 767px) {
    .wrapper { 
        padding: 0 16px;
    }
}
