.date {
    max-width: 480px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
}

.date_left {
    align-self: flex-start;
}

.date_center {  
    align-self: center;
}

.date_right {
    align-self: flex-end;
}

@media screen and (max-width: 1279px) {
    .date {
        max-width: 352px;
    }
}


@media screen and (max-width: 500px) {
    .date {
        padding: 20px 0;
        max-width: 100%;
    }

    .date_center {  
        align-self: flex-start;
    }
    
    .date_right {
        align-self: flex-start;
    }
}