.dates {
    padding: 40px 0;
    background: url('../images/bg3.png');
    background-size: cover;
}

.dates__dates {
    display: flex;
    flex-direction: column;
}

.dates_today {
    background: url('../images/bg4.jpg');
    background-size: cover;
}