.dates {
    padding: 40px 0;
    background: url('../images/bg3.png') repeat-y;
    background-size: cover;
    background-position: 0px 0px;
}

.dates__dates {
    display: flex;
    flex-direction: column;
}

.dates__dates.expands {
    display: none;
}

.dates_today {
    background: url('../images/bg4.jpg');
    background-size: cover;
    background-position: center;
}
