.intro {
    background: url(../images/bg1.jpg) no-repeat;
    background-size: cover;
    padding: 80px 0;
    color: #fff;
}

.intro__text-box {
    background: rgba(0,0,0,.7);
    padding: 40px 0 40px 144px;
    max-width: 620px;
}

.intro__text {
    font-size: 18px;
    font-weight: 300;
}