.phrase {
    background: #0e0e0e;
    height: 74px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.phrase_theme_red {
    background: url('../images/bghearred.svg') no-repeat;
    background-position: 0px 0px;
    background-size: contain;
}

.phrase_theme_transparent {
    background: url('../images/bghear.svg') no-repeat;
    background-position: 0px 0px;
    background-size: contain;
}

.phrase_theme_orange {
    background: url('../images/bghearorange.svg') no-repeat;
    background-position: 0px 0px;
    background-size: contain;
}


@media screen and (max-width: 1279px) {
    .phrase {
        height: 44px;
        background-position: center;
    }
}


@media screen and (max-width: 500px) {
    .phrase {
        height: 20px;
    }
}
