.story {
    background: #0e0e0e;
    color: #fff;
}

.story__intro-wrapper {
    padding: 0 144px;
}

.story_theme_cars .story__intro-wrapper {
    background: url('../images/bg2.jpg') no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

.story_theme_copybook .story__intro-wrapper {
    background: url('../images/bg2-2.jpg') no-repeat;
    background-position: 0px 0px;
    background-size: cover;
}

.story__content-intro {
    max-width: 480px;
    padding: 64px 0;
}



.story__text {
    font-size: 18px;
    font-weight: 300;
}

.story__img {
    max-width: 580px;
    align-self: center;
}

.story__img_type_left {
    max-width: 374px;
    margin: 0 40px 0 0;
}

.story__content-main {
    display: flex;
    justify-content: center;
    background: #0e0e0e;
    padding: 40px 0;
}
